:root {
    --custom-width: min(1440px, 100vw);
    --design-width: 1440;
    --ratio: calc(var(--custom-width) / var(--design-width));
}

body {
    scroll-behavior: smooth;
}

#first-block {
    top: 95px;
    position: relative;
    width: auto;
    height: 823px;
    background-image: url("images/танкер\ 1.png");
    background-size: cover;
}

#second-block {
    position: relative;
    width: auto;
    height: 778px;
    margin-top: 95px;
}

#third-block {
    position: relative;
    width: auto;
    height: 860px;
}

#fourth-block {
    position: relative;
    width: auto;
    height: 272px;
}

#transport-block {
    position: relative;
    width: auto;
    height: auto;
}

#fifth-block {
    position: relative;
    width: auto;
    height: 909px;
}

#sixth-block {
    position: relative;
    width: auto;
    height: 757px;
}

#seventh-block {
    position: relative;
    width: auto;
    height: 851px;
}

#blur-first-block {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    width: 653px;
    background-color: #D5E7EF;
    opacity: 0.7;
}

#big-text-first-block {
    position: relative;
    display: block;
    max-width: 450px;
    margin-left: 33px;
    top: 48px;
    opacity: 1;
}

#big-text-first-block span {
    font-size: calc(55 * var(--ratio));
    font-family: 'Lato', sans-serif;
    font-weight: 400;

    text-decoration: none;
    text-transform: none;
    letter-spacing: calc(1.6799999475479126 * var(--ratio));
    line-height: calc(56 * var(--ratio));
}

.text-first-block:nth-child(odd) {
    color: #001A47;
}

.text-first-block:nth-child(even) {
    color: #068ABE;
}

#little-text-first-block {
    position: relative;
    display: block;
    margin-top: 80px;
    margin-left: 33px;
    max-width: 480px;
}

#little-text-first-block span {
    font-size: calc(19 * var(--ratio));
    font-family: 'Lato', sans-serif;
    font-weight: 400;

    text-decoration: none;
    text-transform: none;
    letter-spacing: calc(0.6000000238418579 * var(--ratio));
    line-height: calc(20 * var(--ratio));
}

.description-first-block:nth-child(odd) {
    color: #001a47ff;
}

.description-first-block:nth-child(even) {
    color: #068ABE;
}


#button-first-block {
    position: relative;
    border: none;
    display: block;
    cursor: pointer;
    margin-left: 33px;
    margin-top: 60px;
    width: 502px;
    height: 60px;
    background-color: #068ABE;
    border-radius: 9px;
    border: 1px solid #068ABE;
    transition: background-color 500ms linear;
}

#button-first-block span {
    font-size: calc(20 * var(--ratio));
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    text-decoration: none;
    text-transform: none;
    letter-spacing: calc(0.6000000238418579 * var(--ratio));
    line-height: calc(20 * var(--ratio));
    color: #FFF;
    transition: color 500ms linear;
}

#button-first-block:hover {
    background-color: #FFF;
}


#button-first-block:hover span {
    color: #068ABE;
}

#empty-first-block {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    height: 330px;
    width: calc(653px - 33px);
    padding: 15px;
    gap: 25px;
    position: relative;
    margin-left: 33px;
    margin-top: 60px;
}

#empty-first-block div {
    border: none;
    background-color: #FFF;
    border-radius: 6px;
    height: 50px;

    font-size: calc(16 * var(--ratio));
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    letter-spacing: calc(0.6000000238418579 * var(--ratio));
    line-height: calc(20 * var(--ratio));
    color: #000;

    padding-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
}

#big-text-second-block {
    display: block;
    max-width: 1440px;
    height: 118px;
    margin-left: 55px;
    margin-top: 180px;
    position: relative;
}

#big-text-second-block span {
    position: absolute;
    /* блок будет прижат к нижней границе внешнего блока */
    bottom: 0;
    /* блок будет прижат к левой границе внешнего блока */
    left: 0;

    font-family: 'Lato', sans-serif;
    text-align: center;
    letter-spacing: calc(1.6799999475479126 * var(--ratio));
}

#big-text-second-block span:nth-child(odd) {
    font-weight: 750;
    color: #D5E7EF;
    opacity: 0.5;
    font-size: calc(140 * var(--ratio));
}

#big-text-second-block span:nth-child(even) {
    position: absolute;
    color: #001A47;
    font-size: calc(47 * var(--ratio));
    left: 5px;
    bottom: 32px;
}

#flex-second-block {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: center;
    height: 100%;
    padding: 15px;
    gap: 20px 122px;
}

.item-second-block {
    width: 330px;
    height: 300px;
    border-radius: 8px;
    background-color: #001A47;
    transition: background-color 600ms ease-in;
}

.item-second-block:hover {
    background-color: #97CADB;
}

.image-second-block {
    width: 91px;
    height: 91px;
    background-size: contain;
    background-repeat: no-repeat;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    transition: background-image 600ms ease-in;
}

.text-second-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100px;
    text-align: center;
    height: 72px;
}

.text-second-block span {
    text-align: center;
    font-size: calc(16 * var(--ratio));
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: #97CADB;
    transition: color 600ms ease-in;
}

.item-second-block:hover span {
    color: #001A47;
}

.calculation-second-block {
    margin-left: 45%;
    margin-top: 40px;
    max-width: fit-content;
}

.calculation-second-block span {
    font-size: calc(20 * var(--ratio));
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: #97CADB;
    transition: color 600ms ease-in;
}

.arrow-block {
    display: inline-block;
    margin-left: 20px;
}

.arrow-img {
    width: 25px;
    height: 27px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("images/blue-arrow.svg");
    transition: background-image 600ms ease-in;
}

.item-second-block:hover .arrow-img {
    background-image: url("images/black-arrow.svg");
}

#image-1 {
    background-image: url('images/lship-blue.svg');
}

.item-second-block:hover #image-1 {
    background-image: url('images/lship-black.svg');
}

#image-2 {
    background-image: url('images/blue-blocks.svg');
}

.item-second-block:hover #image-2 {
    background-image: url('images/black-blocks.svg');
}

#image-3 {
    background-image: url('images/train-blue.svg');
}

.item-second-block:hover #image-3 {
    background-image: url('images/train-black.svg');
}

#image-4 {
    background-image: url('images/plane-blue.svg');
}

.item-second-block:hover #image-4 {
    background-image: url('images/plane-black.svg');
}

#image-5 {
    background-image: url('images/track-blue.svg');
}

.item-second-block:hover #image-5 {
    background-image: url('images/track-black.svg');
}

#image-6 {
    background-image: url('images/doc-blue.svg');
}

.item-second-block:hover #image-6 {
    background-image: url('images/doc-black.svg');
}

.back_text_1{
    font-size: 140px;
    font-family: 'Lato', sans-serif;
    font-weight: 800;
    color: #D5E7EF80;
    text-transform: uppercase;

}

.back_text_2{
    font-size: 47px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: #001A47;
    text-transform: uppercase;


    
}

.text-tr-block{
    position: relative;
}

.blue_div_tr{
    background-color: #DAEFF7;
    margin-left: 20%;
    width: 520px;
    height: 362px;
    left: 123px;
    gap: 0px;
    border-radius: 4px 0px 0px 0px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    margin-right: 200px;
}

.icon_tr_1{
    position: absolute;
}

.icon_tr_2{
    position: absolute;
    margin-left: 13%;
}

.main-text-tr{
    font-family: 'Lato', sans-serif;
    font-size: 23px;
    font-weight: 400;
    line-height: 27.6px;
    letter-spacing: 0.7200000286102295px;
    margin-left: 35%;
}

.second-text-tr{
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    letter-spacing: 0.47999998927116394px;
    text-align: left;
    margin-left: 35%;

}


.angry-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    gap: 0px;
    height: 100%;
}

.angry-grid-item {
    min-width: 650px;
    min-height: 300px;
}

 #item-0 {
 
    grid-row-start: 1;
    grid-column-start: 1;
 
    grid-row-end: 2;
    grid-column-end: 2;
    
 }
 #item-1 {
  
    grid-row-start: 1;
    grid-column-start: 1;
 
    grid-row-end: 2;
    grid-column-end: 3;
    
 }
 #item-2 {
 
    grid-row-start: 2;
    grid-column-start: 1;
 
    grid-row-end: 3;
    grid-column-end: 2;
    
 }
 #item-3 {
 
    grid-row-start: 2;
    grid-column-start: 2;
 
    grid-row-end: 3;
    grid-column-end: 3;
    
 }
 #item-4 {
 
    grid-row-start: 3;
    grid-column-start: 1;
 
    grid-row-end: 4;
    grid-column-end: 2;
    
 }